.site-index{
  .grouped-products-with-special{
    .product-special-wrap{
      @include flex-grid-column(4);

      .text-block{
        text-align: center;
        display: block;
        width: 100%;
        background: $color2;
        color: #fff;
      }

      @include breakpoint(medium only) {
        @include flex-grid-column(6);
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
    }
  }
}