.category-index {
  .filter-bar {
    @include flex-grid-row(collapse);
    @include flex-grid-column(12);
    text-align: right;

    .inner-block {
      padding: 0 .2rem .3rem .2rem;
      border-bottom: 1px solid $colorBorder;
      width: 100%;

      span.text {
        display: inline-block;
        color: $color3;
        font-size: 15px;
      }

      ul.filters {
        display: inline-block;

        li {
          display: inline-block;
          padding: 0 .5rem;
          font-size: 14px;

          a {
            &:hover {
              color: $color3;
            }
          }
        }
      }
    }
  }
  .no-products {
    @include flex-grid-row(collapse);
    @include flex-grid-column(12);
    padding: 2rem 1rem;
  }
}