#alerts-wrapper {
  position: fixed;
  z-index: 50;

  .alert {
    position: fixed;
    left: 0;
    background: #fff;
    color: #000;
    width: 100%;
    padding: .3rem;
    border-top: 1px solid $colorBorder;
    z-index: 1;

    & > .inner-wrapper {
      @include flex-grid-row(collapse);

      & > .message-wrapper {
        @include flex-grid-column(10);
        @include flex-align-self(middle);

        @include breakpoint(small only) {
          @include flex-grid-column(12);

          text-align: center;
          padding-bottom: 1rem;
        }
      }

      & > .button-wrapper {
        @include flex-grid-column(2);
        @include flex-align-self(middle);
        text-align: right;

        .hide-btn {
          &:before {
            @include fa-icon-standard("\f107");
          }
        }

        @include breakpoint(small only) {
          @include flex-grid-column(12);
          text-align: center;
        }
      }
    }

    &.has-transition {
      transition: bottom .5s ease-in-out;
    }

    &[data-type="success"] {
      color: $color4;

      .hide-btn {
        @include circle-btn-o(26px, $color4, 1rem);
      }
    }

    &[data-type="warning"] {
      color: $color1;

      .hide-btn {
        @include circle-btn-o(26px, $color1, 1rem);
      }
    }

    &[data-type="error"] {
      color: $color2;

      .hide-btn {
        @include circle-btn-o(26px, $color2, 1rem);
      }
    }
  }
}