.banner-widget {
  .swiper-button-next, .swiper-button-prev {
    background: none;
    color: #fff;
    top: 50%;
    left: 0;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    display: block;
    margin: 0;
    font-size: 2rem;
  }
  .swiper-button-prev {
    left: 20px;

    &:before {
      @include fa-icon-standard("\f104");
    }

  }
  .swiper-button-next {
    left: auto;
    right: 10px;

    &:before {
      @include fa-icon-standard("\f105");
    }
  }

  .swiper-pagination{
    .swiper-pagination-bullet-active{
      background: #fff;
    }
  }

  ul li[data-display-on-mobile="false"], div[data-display-on-mobile="false"]{
    @include breakpoint(small only){
      display: none;
    }
  }

  ul li[data-display-on-mobile="true"], div[data-display-on-mobile="true"]{
    @include breakpoint(small only){
      display: block;
    }
  }

  ul li[data-display-on-desktop="false"], div[data-display-on-desktop="false"]{
    @include breakpoint(medium){
      display: none;
    }
  }

  ul li[data-display-on-desktop="true"], div[data-display-on-desktop="true"]{
    @include breakpoint(medium){
      display: block;
    }
  }
}