#cookie-law-bar {
  width: 100%;
  position: fixed;
  bottom: -100%;
  left: 0;
  background: #fff;
  border-top: .2rem solid #4CAF50;
  padding: .3rem;

  .container {
    @include flex-grid-row(collapse);

    & > .text-wrapper {
      @include flex-grid-column(10);
      @include flex-align-self(middle);

      @include breakpoint(small only) {
        @include flex-grid-column(12);
        text-align: center;
        padding-bottom: 1rem;
      }
    }
    & > .button-wrapper {
      @include flex-grid-column(2);
      @include flex-align-self(middle);
      text-align: right;

      .btn {
        @include custom-button(#4CAF50, #43A047, #388E3C);
        margin: 0;
        vertical-align: middle;
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);
        text-align: center;
      }
    }
  }
}