.grouped-products {
  @include flex-grid-row(collapse);
  @include flex-align(left, middle);
  padding: 1rem 0;

  .title {
    @include flex-grid-row(collapse);
    width: 100%;
    padding: 0 1rem;

    h4 {
      display: block;
      width: 100%;
      padding: 0 0 .3rem 0;
      margin: 0 0 0.9rem 0;
      border-bottom: 1px solid $colorBorder;
      @include font(300, 20px);
    }
  }

  ul.products {
    @include flex-grid-row(collapse);
    @include flex-align(left, middle);
    width: 100%;

    li {
      @include flex-grid-column();
      flex: 0 0 0;

      @include breakpoint(medium only) {
        @include flex-grid-column(6);
      }
      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
    }
  }
}