.newsletter-widget{
  @include flex-grid-row(collapse);
  @include flex-align(left, middle);
  padding: 1rem 0;

  //TODO merge with groups products title
  .title{
    @include flex-grid-row(collapse);
    width: 100%;
    padding: 0 1rem;

    h4{
      display: block;
      width: 100%;
      padding: 0 0 .1rem 0;
      margin: 0 0 0.9rem 0;
      border-bottom: 1px solid #f4f4f4;
      @include font(300, 20px);
    }
  }

  form{
    @include flex-grid-row(collapse);
    padding: 0 0 .1rem 0;

    .inputs-blocks{
      @include flex-grid-row(collapse);
      width: 100%;

      .form-group{
        @include flex-grid-column(6);
      }
    }
    .agreement-block, .buttons-block{
      @include flex-grid-row(collapse);

      .form-group{
        flex: 0 0 5.33333%;
        padding-right: .9375rem;
        padding-left: .9375rem;
        max-width: 5.33333%;
        text-align: center;

        @include breakpoint(small only){
          flex: 0 0 15%;
          max-width: 15%;
        }

        .checkbox-box{
          margin: .25rem 0 0 0;
        }

        &.has-error{
          .checkbox-box{
            border-color: #D32F2F;
          }
        }

        .help-block{
          display: none;
        }
      }

      .agreement-text{
        flex: 0 0 94.66667%;
        padding-right: .9375rem;
        padding-left: 0;
        max-width: 94.66667%;
        font-weight: 300;

        @include breakpoint(small only){
          flex: 0 0 85%;
          max-width: 85%;
        }
      }
    }

    .button-block{
      @include flex();
      @include flex-grid-column(12);
      @include flex-align(center, middle);

      .submit-btn{

      }
    }
  }
}