.product {
  position: relative;

  .image-block {
    a {
      display: block;
      height: 100%;

      img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .information-block {
    text-align: center;
  }
}

.product-standard, .product-cross-sell {
  height: 250px;
  min-width: 170px;
  max-width: 200px;
  margin-bottom: 10px;
  border: 1px solid $colorBorder;
  transition: .3s ease;
  background: #fff;

  &:hover {
    .buttons-layer {
      z-index: 1;
      opacity: 1;

      .buttons-block {
        opacity: 1;
      }
    }
  }

  .image-block {
    height: 60%;
    padding: .5rem 1rem;
    transition: .3s ease;
  }

  .information-block {
    @include flex-grid-row(collapse);
    @include flex-align(center, middle);
    height: 40%;
    padding: 5px 10px;
    transition: .3s ease;
    background: #fbfbfb;

    .name {
      font-weight: 300;
      font-size: 1.2rem;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2rem;
      max-height: calc(1.2rem * 2);
    }
    .price {
      display: block;
      width: 100%;
    }
  }

  .buttons-layer {
    transition: .2s ease-in-out;
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.75);

    .buttons-block {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      box-shadow: 0 0 0.5rem 0.1rem rgba(100, 100, 100, .1);
      opacity: 0;
      transition: .2s ease-in-out .1s;
      padding: 0;
      text-align: center;

      .btn-details {
        @include circle-btn-o(30px, #3F51B5);

        &:before {
          @include fa-icon-standard("\f129");
        }
      }
      .btn-add-to-favorites {
        @include circle-btn-o(30px, #E91E63);

        &:before {
          @include fa-icon-standard("\f004");
        }
      }
      .btn-buy-product {
        @include circle-btn-o(30px, #4CAF50);

        &:before {
          @include fa-icon-standard("\f217");
        }
      }

      .btn-details, .btn-add-to-favorites, .btn-buy-product {
        vertical-align: middle;
        margin: .3rem .25rem;
      }

      .btn-details, .btn-add-to-favorites {
        width: 26px;
        height: 26px;
        font-size: 1rem;
      }
    }
  }
}

.product-cross-sell {
  .prices {
    display: block;
    width: 100%;
    text-align: center;

    .prev-price {
      display: inline-block;
      text-decoration: line-through;
      font-size: .9rem;
    }
    .current-price {
      display: inline-block;
      color: #4CAF50;
    }
  }
  .buttons-layer {
    .buttons-block {
      padding: .2rem 0;

      .btn-add-or-remove {
        @include circle-btn-o(30px, #4CAF50);
        vertical-align: middle;

        &:before {
          @include fa-icon-standard("\f067");
          transform: translate(-51%, -43%);
        }

        &.added {
          @include circle-btn-o(30px, $color2);

          &:before {
            @include fa-icon-standard("\f014");
            transform: translate(-51%, -48%);
          }
        }
      }
    }
  }
}

.product-special {
  height: 300px;
  width: 100%;
  max-width: none;

  .image-block {
    height: 60%;
  }

  .information-block {
    height: 40%;

    .availability {
      .date {
        color: $color2;
      }
    }
  }
}

.product-standard, .product-cross-sell, .product-special {
  @include breakpoint(small only) {
    max-width: none;
    width: 100%;
    height: auto;

    .buttons-layer {
      position: static;
      height: auto;
      opacity: 1;
      z-index: 1;

      .buttons-block {
        position: static;
        transform: none;
        box-shadow: none;
        opacity: 1;
        background: #fbfbfb;
      }
    }
  }
}