.product-detail, .product-detail-special {
  .images-block {
    .swiper-slider {
      .swiper-slide {
        img {
          max-height: 400px;
        }
      }
      .swiper-button-next, .swiper-button-prev {
        background: none;
        color: #555;
        top: 50%;
        left: 0;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        display: block;
        margin: 0;
        font-size: 2rem;
      }
      .swiper-button-prev {
        left: 20px;

        &:before {
          @include fa-icon-standard("\f104");
        }

      }
      .swiper-button-next {
        left: auto;
        right: 10px;

        &:before {
          @include fa-icon-standard("\f105");
        }
      }
    }
    .swiper-thumbs {
      border-top: 1px solid $colorBorder;

      .swiper-slide {
        max-width: 20%;
        padding: 1rem 0;

        img {
          max-height: 100px;
        }
      }
    }
  }
  .basic-information-block {
    @include flex-grid-row(collapse);
    @include flex-align(null, middle);
    padding-bottom: 1rem;

    .title {
      width: 100%;
      margin-bottom: 0;
    }
    .information-block {
      @include flex();
      @include flex-grid-column(8);

      padding: 0 !important;

      .name {
        @include font(300, 2rem);
        @include flex();
        @include flex-align-self(middle);
      }
      .price {
        @include font(400, 2.1rem);
        @include flex();
        @include flex-align-self(middle);
        margin: 0 1rem;
        color: #4CAF50;
      }
    }
    .buttons-block {
      @include flex();
      @include flex-grid-column(4);

      justify-content: flex-end;
      padding: 0 !important;

      .btn {
        margin: 0 .5rem 0 0;
      }
      .btn-add-to-favorites {
        @include custom-button(#E91E63, #D81B60, #C2185B, #EC407A);
        margin-right: 1rem;

        &:before {
          @include fa-icon-standard("\f004");
        }
      }
    }

    @include breakpoint(small only) {
      .information-block {
        @include flex-grid-row();
        flex: initial;

        .name, .price {
          @include flex-grid-column(12);
          justify-content: center;
        }

        .price {
          margin: 0;
        }
      }
      .buttons-block {
        @include flex-grid-column(12);
        padding-top: 1rem !important;
        justify-content: center;
      }
    }
  }
  .description-block {
    .content {
      & > div {
        margin: 0 !important;

        img.ico {
          display: none;
        }

        .col-md-10 {
          width: 100% !important;
          padding: 0 !important;
          float: none;
        }
      }

      p {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
        color: #444;
        letter-spacing: 0px;
      }

      h1, h2, h3, h4, h5, h6 {
        @include font(300, 1.9375em);
        color: #444;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: .5rem;
      }
    }
  }
  .up-sells-block {
    .up-sells {
      .checkbox-box {
        vertical-align: text-bottom;
      }
    }
  }
  .reviews-block {
    @include flex-grid-row(collapse);
    padding-bottom: 1rem;

    .title {
      width: 100%;
    }
    .reviews-wrap, .rating-wrap, .rating-message {
      @include flex-grid-column(6);
    }

    .reviews-wrap {
      padding-left: 0 !important;

      ul.reviews {
        @include flex-grid-row(collapse);
        width: 100%;

        li {
          @include flex-grid-column(12);
          padding: .5rem 0 !important;
          border-bottom: 1px solid $colorBorder;

          .rating {
            i {
              color: #FDD835;
            }
          }
          .information {
            text-align: right;
            font-size: .9rem;

            .author, .date {
              display: inline-block;
            }
          }

          &:first-of-type {
            padding-top: 0 !important;
          }
        }
      }
      .buttons-block {
        @include flex-grid-row(collapse);
        padding: 1rem 0;
        justify-content: flex-end;
      }
    }
    .rating-message {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .rating-wrap, .rating-message {
      padding-right: 0 !important;
    }

    @include breakpoint(small only) {
      .reviews-wrap, .rating-wrap, .rating-message {
        @include flex-grid-column(12);
      }
      .reviews-wrap {
        padding-left: .625rem !important;
      }
      .rating-wrap, .rating-message {
        padding-right: .625rem !important;
      }
      .reviews-block {
        padding-bottom: 1rem;
      }
    }
  }

  .title {
    @include title();
  }
  .btn-buy {
    @include custom-button(#4CAF50, #43A047, #388E3C, #4CAF50);

    &:before {
      @include fa-icon-standard("\f291");
    }
  }

  @include breakpoint(small only) {
    .title {
      text-align: center;
    }
  }
}