.buttons-block {
  text-align: right;
  padding-bottom: 1rem;

  .btn {
    margin-right: 0;
  }
}

.pagination {
  margin: 0 0 1rem 0;
  text-align: center;

  li {
    padding: 0;

    span, a {
      @include circle-btn-o(30px, #555, 1rem);
      padding: 0;
      line-height: 29px;
      text-align: center;
    }

    a:hover {
      border-color: $color3;
      background: $color3;
      color: #fff;
    }

    &.active {
      a {
        border-color: $color3;
        background: $color3;
        color: #fff;
      }
    }

    &.disabled {
      padding: 0;

      span, a {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
          background: #fff;
          color: #555;
        }
      }
    }
  }
}

noscript {
  #no-script-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: .3rem solid $color2;
    z-index: 50000;
    overflow: hidden;

    h4 {
      @include font(300, 2rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #444;
      text-align: center;
    }
  }
}