@keyframes slideDown {
  0%{
    transform: translateY(-2%);
  }
  100%{
    transform: translateY(100%);
  }
}
@keyframes slideUp {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-2%);
  }
}