html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  @include font(400, 16px);

  @include breakpoint(large) {
    *::-webkit-scrollbar {
      width: 7px;
    }

    *::-webkit-scrollbar-track {
      background: #fff
    }

    *::-webkit-scrollbar-thumb {
      background: #ddd
    }

    *::selection, *::selection {
      background: #ddd;
      color: #000;
    }
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  & > #wrapper {
    flex: 1;
  }

  &:before {
    content: 'preview';
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 50px;
    text-transform: uppercase;
    color: #fff;
    background: $color4b;
    transform: rotate(45deg) translate(-45px, 5px);
    box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.05);
    z-index: 10;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: $color1;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

form {
  margin-bottom: 1rem;

  .form-group {
    &.has-error {
      input, textarea {
        border-color: #D32F2F;
      }

      .help-block {
        color: #D32F2F;
        padding-bottom: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}

input {
  &[type=text], &[type=password], &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=email], &[type=number], &[type=search], &[type=tel], &[type=time], &[type=url], &[type=color] {
    box-shadow: none;
    outline: none;
    border: 1px solid $colorBorder;
    margin-bottom: .5rem;
  }
}

textarea {
  box-shadow: none;
  outline: none;
  border: 1px solid $colorBorder;
  margin-bottom: .5rem;
  resize: none;
}

table {
  border-spacing: initial;
  border: 1px solid $colorBorder;

  thead {
    th {
      font-weight: 400;
    }
  }
  tbody {
    tr:nth-child(even) {
      border-bottom: 0;
      background-color: #f9f9f9;
    }
  }
}

.hidden {
  display: none !important;
}

.btn {
  @include custom-button();
}