.form-group, .checkbox-wrap {
  input[type="checkbox"] {
    display: none;

    & + .checkbox-box {
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 1px solid $colorBorder;
      transition: .3s ease;
      cursor: pointer;
      margin: 0 5px;
      position: relative;
      border-radius: 50%;
    }
    & + .checkbox-box::after {
      content: '';
      display: none;
    }
    &:checked + .checkbox-box {
      background: #f4f4f4
    }
    &:checked + .checkbox-box::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: block;
      transform: rotate(45deg);
    }
  }

  .checkbox-label {
    vertical-align: super;
    display: inline-block;
    padding-right: 5px;
  }
}

.radio-wrap{
  input[type="radio"]{
    display: none;

    & + label{
      .radio-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid $colorBorder;
        transition: .3s ease;
        cursor: pointer;
        margin: 0 5px;
        position: relative;
        border-radius: 50%;
        vertical-align: top;
      }
      .radio-box::after {
        content: '';
        display: none;
      }
    }
    &:checked + label{
      .radio-box {
        background: #f4f4f4;
      }
      .radio-box::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #555;
        border-width: 0 2px 2px 0;
        display: block;
        transform: rotate(45deg);
      }
    }
  }

  .radio-label {
    vertical-align: super;
    display: inline-block;
    padding-right: 5px;
  }
}