@mixin fa-icon-standard($content) {
  content: $content;

  @include fa-icon;
}

@mixin font($weight: 400, $size: 1.6rem, $style: normal, $family: $defaultFamilyFont) {
  font: $style $weight $size $family, Arial, serif;
}

@mixin circle-btn-o($size: 30px, $color: #000, $fontSize: 1.1rem) {
  color: $color;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid $color;
  width: $size;
  height: $size;
  font-size: $fontSize;
  transition: .3s ease-in-out;
  display: inline-block;
  margin: 0 .25rem;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: $color;
    color: #fff;
  }
}

//TODO Rewrite
@mixin visibility-toggle($visibleAnimation:  slideDown .3s both, $invisibleAnimation: slideUp .3s both) {
  &.visible {
    animation: $visibleAnimation;
  }
  &.invisible {
    transition: .3s ease;
    animation: $invisibleAnimation;
  }
}

@mixin box-dropdown($maxHeight: 300px, $width: 400px) {
  @include flex-grid-row(collapse);
  @include visibility-toggle();

  position: absolute;
  max-height: $maxHeight;
  height: auto;
  width: $width;
  overflow: auto;
  bottom: 0;
  right: 0;
  left: auto;
  background: #fff;
  z-index: -1;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.10);
  transform: translateY(-2%);

  .empty-block, .guest-block {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  @include breakpoint(small only) {
    width: 100%;
    left: 0;
    right: auto;
  }
}

@mixin title($heading: h4) {
  #{$heading} {
    display: block;
    width: 100%;
    padding: 0 0 .3rem 0;
    margin: 0 0 0.9rem 0;
    border-bottom: 1px solid $colorBorder;
    @include font(300, 20px);
  }
}

@mixin custom-button($baseBg: $color3, $hoverBg: $color3b, $activeBg: $color3c, $visitedBg: $baseBg) {
  @include font(400, 0.9rem);

  background: $baseBg;
  color: #fff;
  border: .12rem solid $baseBg;
  border-radius: 32px 0 0 32px;
  height: 32px;
  line-height: 32px;
  padding: 0 1rem 0 0;
  margin: .1rem .2rem;
  cursor: pointer;
  transition: .3s ease;
  outline: none;
  box-shadow: none;
  display: inline-block;

  &:before {
    @include fa-icon-standard("\f105");
    padding: 0 .5rem 0 .8rem;
  }

  &:visited {
    background: $visitedBg;
    border-color: $visitedBg;
    color: #fff;
  }
  &:hover {
    background: $hoverBg;
    border-color: $hoverBg;
    color: #fff;
  }
  &:active {
    background: $activeBg;
    border-color: $activeBg;
    color: #fff;
  }
  &:focus {
    background: $hoverBg;
    border-color: $hoverBg;
    color: #fff;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}