$headerBackground: #fff;
$footerBackground: #eee;
$copyrightBlockBackground: #ddd;
$manageBarBackground: #efefef;
$manageBarPanelLinkColor: #222;
$defaultFamilyFont: 'Source Sans Pro';

$color1: #FF9800;
$color1a: #FB8C00;
$color1b: #F57C00;
$color2: #E53935;
$color3: #3F51B5;
$color3a: #3949AB;
$color3b: #303F9F;
$color3c: #283593;
$color3d: #5C6BC0;
$color4: #4CAF50;
$color4a: #43A047;
$color4b: #388E3C;
$colorBorder: #DDD;