#alerts-wrapper {
  position: fixed;
  z-index: 50000;

  .alert {
    position: fixed;
    left: 0;
    background: #fff;
    color: #000;
    width: 100%;
    padding: .3rem;
    border: none;
    border-top: .1rem solid #DDD;
    z-index: 1;
    border-radius: 0;
    margin: 0;

    & > .inner-wrapper {
      max-width: 100rem;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-flow: row wrap;

      & > .message-wrapper {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        align-self: center;

        @media (max-width: 768px) {
          max-width: 100%;
          flex: 0 0 100%;
          text-align: center;
          padding-bottom: 1rem;
        }
      }

      & > .button-wrapper {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        align-self: center;
        text-align: right;

        .hide-btn {
          &:before {
            @include fa-icon-standard("\f107");
          }
        }

        @media (max-width: 768px) {
          max-width: 100%;
          flex: 0 0 100%;
          text-align: center;
        }
      }
    }

    &.has-transition {
      transition: bottom .5s ease-in-out;
    }

    &[data-type="success"] {
      color: #4CAF50;

      .hide-btn {
        @include circle-btn-o(26px, #4CAF50, 1rem);
      }
    }

    &[data-type="warning"] {
      color: #FF9800;

      .hide-btn {
        @include circle-btn-o(26px, #FF9800, 1rem);
      }
    }

    &[data-type="error"] {
      color: #E53935;

      .hide-btn {
        @include circle-btn-o(26px, #E53935, 1rem);
      }
    }
  }
}