.wrapper.auth{
  .header{
    background: #fff;
    color: #444;
    border-bottom: 1px solid #d2d6de;
    padding: 14px;

    .title{
      font-size: 16px;
    }
  }
  .main-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}