html, body{
  width: 100%;
  height: 100%;

  @media (min-width: 768px){
    *::-webkit-scrollbar{
      width: 7px;
    }

    *::-webkit-scrollbar-track {
      background: #fff
    }

    *::-webkit-scrollbar-thumb {
      background: #d2d6de
    }

    *::selection, *::selection{
      background: #d2d6de;
      color: #000;
    }
  }
}

.wrapper{
  .main-header{
    .title{
      font-size: 1.6rem;
      display: inline-block;
      padding: 1.3rem 1rem;
    }
  }
}

.content-header{
  overflow: hidden;

  .back{
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #fff;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #666;
    border-radius: 50%;
    border: 1px solid #666;
    transition: .3s ease;
    position: relative;
    font-size: 18px;

    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover{
      background: #666;
      color: #fff;
    }
  }
  .title{
    display: inline-block;
    margin: 2px 0 0 0;
    font-size: 20px;
    color: #444;
  }
}

.loadScreen{
  display: none;
  background: #ecf0f5 !important;

  .loadIcon {
    color: #d2d6de;
  }
}

.btn{
  border-radius: 0 !important;
  box-shadow: -1px 10px 10px -12px rgba(0, 0, 0, 0.75) !important;
}
.btn-primary{
  background-color: #337ab7;
  border-color: #3175b0;

  &:hover{
    background-color: #3175b0;
    border-color: #3175b0;
  }
}

label{
  font-weight: 400;
}

.radio-list-wrap{
  .control-label{
    display: inline-block;
    padding-right: 5px;
  }

  .radio-list{
    display: inline-block;
  }

  input[type="radio"]{
    display: none;

    & + .radio-box{
      width: 20px;
      height: 20px;
      display: inline-block;
      border: .1rem solid rgb(210, 214, 222);
      border-radius: 50%;
      transition: .3s ease;
      cursor: pointer;
      margin: 0 5px;
      position: relative;
    }
    & + .radio-box::after{
      content: '';
      display: none;
    }
    &:checked + .radio-box{
      background: #f4f4f4
    }
    &:checked + .radio-box::after{
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: block;
      @include rotate(45deg);
    }
  }
}

.form-group, .checkbox-wrap{
  input[type="checkbox"]{
    display: none;

    & + .checkbox-box{
      width: 20px;
      height: 20px;
      display: inline-block;
      border: .1rem solid rgb(210, 214, 222);
      transition: .3s ease;
      cursor: pointer;
      margin: 0 5px;
      position: relative;
    }
    & + .checkbox-box::after{
      content: '';
      display: none;
    }
    &:checked + .checkbox-box{
      background: #f4f4f4
    }
    &:checked + .checkbox-box::after{
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: block;
      @include rotate(45deg);
    }
  }

  .checkbox-label{
    vertical-align: super;
    display: inline-block;
    padding-right: 5px;
  }
}

form .form-message{
  display: block;
  width: 100%;
  background: #fff;
  color: #111;
  padding: .5rem 1rem;
  font-size: 1.4rem;

  &.form-message-warning{
    background: #FF5722;
    color: #fff;
  }
  &.form-message-success{
    background: #4CAF50;
    color: #fff;
  }
  &.form-message-info{
    background: #2196F3;
    color: #fff;
  }

  &.form-message-primary{
    background: #00B8D4;
    color: #fff;
  }

  .text-big{
    font-size: 15px;
  }
}

.fileUpload, .filesUpload{
  display: block;
  width: 120px;
  height: 30px;
  background: #4CAF50;
  overflow: hidden;
  margin: 1rem auto;
  cursor: pointer;
  position: relative;

  .filesCounter{
    padding-left: 5px;
  }

  input {
    display: block !important;
    width: 120px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
  }

  &::before{
    content: 'Wybierz pliki';
    color: #fff;
    cursor: pointer;
  }
}

.fileUpload{
  &::before{
    content: 'Wybierz plik';
    color: #fff;
    cursor: pointer;
  }
}

.tabbedView{
  .controls .create-btn{
    color: #00a65a;
    text-decoration: none;
  }
}

ul[data-name="gridViewCustomize"]{
  .checkbox-wrap{
    label{
      font-weight: 400;
    }
    .checkbox-box{
      margin: 0 5px 0 0;
    }
  }

  .acceptButton{
    height: 30px;
    width: 100%;
    background: #00a65a;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    transition: .3s ease;

    &:hover{
      background: #009953;
    }
  }
}
.gridView{
  .img-icon{
    max-width: 30px;
  }
}

.grid-view {
  table {
    &.table-bordered > thead > tr > th {
      border-bottom: 0 !important;
    }
    thead{
      @media (max-width: $screen-xs-max){
        & > .filters{
          display: none;
        }
      }
    }
    tbody{
      tr{
        td:last-of-type{
          min-width: 140px;
          width: auto !important;

          a{
            border: 1px solid #666;
            color: #666;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            display: inline-block;
            line-height: 26px;
            text-align: center;
            transition: .3s ease;
            margin: 0 2px;

            &:hover{
              background: #666;
              color: #fff;
            }
          }
        }
      }
    }
  }

  & > .summary {
    display: none;
  }
}

.tabs-above {
  & > ul.nav-tabs {
    border-bottom: 1px solid #f4f4f4;

    & > li {
      margin-bottom: 0;

      & > a {
        margin-right: 2px;
        border: none;
        border-radius: 0;
        color: #000;
        padding: 7px 15px;

        &:hover {
          border: none;
          background: #fff;
        }

        &.link{
          transition: .3s ease;

          &.link-success, &.link-green{
            background: #00a65a;
            color: #fff;

            &:before{
              content: '+';
              padding-right: 2px;
            }
          }
          &.link-purple{
            background: #673AB7;
            color: #fff;
          }
        }
      }
      &.active {
        & > a, & > a:hover {
          background: #337ab7;
          color: #fff;
          border: none;
        }
      }
      &.link-parent{
        float: right;
      }
    }
  }
}

.pagination {
  border-radius: 0;
  margin-bottom: 5px;

  li {
    &.prev, &.next {
      a, span {
        border-radius: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .detail-view{
    tr > th{
      width: 20%;
    }
  }
}

.box{
  border-radius: 0;

  .box-content > div > form{
    padding: 10px;

    & .fileUpload{
      margin: 1rem 0;
    }
  }
}