@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

.glyphicon {
  top: 0;
}

.glyphicon-eye-open {
  @include fa-icon;
  &:before {
    content: "\f06e";
  }
}

.glyphicon-pencil {
  @include fa-icon;
  &:before {
    content: "\f040";
  }
}

.glyphicon-trash {
  @include fa-icon;
  &:before {
    content: "\f1f8";
  }
}