.language-manage{
  #languageForm{
    padding: 0 1.5rem;

    #updateBtnWrap{
      padding: 2rem;
    }

    section.category{
      border-bottom: 2px solid #d2d6de;
      padding-bottom: 1rem;

      &:last-of-type{
        border: none;
      }
    }
  }

  .noData{
    p{
      padding: 1rem;
      margin: 0;
    }
  }
}