.mail-subscriber-import-form{
  .text{
    font-size: 1.8rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .csvFile{
    .btn{
      background: #3F51B5 !important;
      border-color: #303F9F !important;
    }
  }

  .form-group{
    text-align: center;
    padding: 2rem 0;
  }

  pre{
    height: 320px;
  }
}