@mixin circle-btn-o($size: 30px, $color: #000, $fontSize: 16px) {
  color: $color;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  border: .1rem solid $color;
  width: $size;
  height: $size;
  font-size: $fontSize;
  transition: .3s ease-in-out;
  display: inline-block;
  margin: 0 .25rem;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: $color;
    color: #fff;
  }
}

@mixin fa-icon-standard($content) {
  content: $content;

  @include fa-icon;
}