.product-import-form{
  .text{
    font-size: 1.8rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .jsonFile{
    .btn{
      background: #9C27B0 !important;
      border-color: #7B1FA2 !important;
    }
  }

  .xmlFile{
    .btn{
      background: #FF5722 !important;
      border-color: #E64A19 !important;
    }
  }

  .csvFile{
    .btn{
      background: #3F51B5 !important;
      border-color: #303F9F !important;
    }
  }

  .form-group{
    text-align: center;
    padding: 2rem 0;
  }

  pre{
    height: 320px;
  }
}

#productImages {
  .imageWrap {
    cursor: pointer;
    transition: .3s ease;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .innerWrapper {
      position: relative;
      border: 1px solid #f4f4f4;
    }

    .icon {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translate(50%, -50%);
      -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      z-index: 2;
      font-size: 16px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #f9f9f9;
    }

    div.image {
      transition: .3s ease;
      display: block;
      width: 100%;
      height: 150px;
      padding: 10px 0;
      background: #fff;

      img {
        margin: 0 auto;
        max-height: 100%;
      }
    }
    div.buttonsBar {
      display: block;
      width: 100%;
      background: #f9f9f9;
      padding: 5px 10px;
    }

    .deleteBtn, .mainBtn, .revertBtn {
      opacity: 1;
      transition: .3s ease;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50%;
      border: 1px solid #555;
      font-size: 14px;
      text-align: center;
      color: #777;
      background: #fff;
      cursor: pointer;
      margin: 0 2px;

      &:hover {
        color: #555;
      }
    }
    .revertBtn {
      opacity: 0;
    }

    &.deleted {
      div.image {
        -webkit-filter: brightness(75%);
        filter: brightness(75%);
      }

      .deleteBtn, .mainBtn {
        opacity: .5;
      }
      .revertBtn {
        opacity: 1;
      }
    }
    &.mainImage .icon {
      opacity: 1;
    }
  }

  .emptyBlock {
    padding: 1rem 0;
    text-align: center;

    .icon {
      font-size: 3rem;
      padding-right: 10px;
    }
    .text {
      font-size: 1.8rem;
    }
  }
}

#attributes-wrap, #crossSellingWrap, #upSellingWrap{
  .row{
    margin-left: -10px;
    margin-right: -10px;
  }
  table{
    .deleteBtn {
      width: 26px;
      height: 26px;
      line-height: 22px;
      display: block;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid #666;
      transition: .3s ease;
      background: #fff;
      color: #666;
      cursor: pointer;

      &:hover {
        background: #666;
        color: #fff;
      }
    }
  }

  #attributes{
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-bottom: .1rem solid #eaeaea;
  }
  .select2.select2-container.select2-container--default{
    width: 100% !important;
  }
}
.fa-star{
  color: #FDD835;
}