.img-avatar{
  max-width: 35px;
  margin: 0 auto;
}

@media (max-width:1024px) {
  .avatars-list {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .users-list {
    & > li {
      img {
        max-width: 50%;
      }
    }
  }
}