.basket-account {
  @include flex-grid-row();
  justify-content: space-between;

  .user-exists-wrapper, .user-not-exists-wrapper {
    @include flex-grid-column(5);
    border: 1px solid $colorBorder;
    margin-bottom: 1rem;

    .header {
      text-align: center;

      .text {
        border-bottom: 1px solid $colorBorder;
        padding: .5rem 1rem;
        margin-bottom: 1rem;
        display: inline-block;
      }
    }

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      border: none;
    }
  }

  .user-exists-wrapper {
    .content {
      .forget-password-btn {
        display: inline-block;
        padding-left: 1rem;
      }
    }
  }

  .user-not-exists-wrapper {
    .content {
      display: flex;
      justify-content: center;

      a {
        &:first-of-type {
          @include custom-button();
        }
        &:last-of-type {
          @include custom-button($color4, $color4a, $color4b, $color4a);
        }
      }

      .or-break {
        display: inline-block;
        padding: 0.4rem 1rem;
      }
    }
  }
}