.basket-index, .basket-address, .basket-payment-and-transport, .basket-summary, .basket-after-complete {
  table#items {
    tbody {
      tr {
        &:nth-child(even) {
          background: #fff;
        }

        td {
          border-top: 1px solid $colorBorder;

          &.product-column {
            .image, .name {
              display: inline-block;
              vertical-align: middle;
            }

            .image {
              padding-right: 1rem;

              img {
                max-height: 76px;
              }
            }

            .name {
              @include font(300, 1.1rem);
            }
          }
          &.price-column {
            @include font(300, 1.1rem);
          }
          &.quantity-column {
            .quantity {
              display: block;
              padding: 15px 0;
              overflow: hidden;

              .minus-btn, .plus-btn {
                @include circle-btn-o(22px, $color3);

                font-size: .7rem;
                vertical-align: middle;
              }

              form {
                display: inline-block;
                vertical-align: middle;
                width: 56px;
                height: 30px;
                margin: 0 .5rem;

                input {
                  @include font(300, 1.1rem);

                  border: 1px solid $colorBorder;
                  width: 56px;
                  height: 30px;
                  line-height: 30px;
                  color: #000;
                  text-align: center;
                  margin: 0;
                }
              }

              .constant-quantity {
                @include font(300, 1.1rem);

                background: #f1f1f1;
                display: inline-block;
                border: 1px solid $colorBorder;
                width: 56px;
                height: 30px;
                line-height: 30px;
                color: #000;
                text-align: left;
                margin: 0 0 0 40px;
                padding-left: 15px;
                cursor: not-allowed;
              }
            }
          }
          &.remove-column {
            .remove-btn {
              @include circle-btn-o(22px, $color2);
              font-size: .7rem;
              vertical-align: middle;

              &:before {
                @include fa-icon-standard("\f00d");
              }
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium down) {
    table#items {
      tbody {
        tr {
          td {
            &.product-column {
              .image {
                display: none;
              }
            }
            &.quantity-column {
              .quantity {
                text-align: center;

                .minus-btn, .plus-btn {
                  margin: .5rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}