.basket-index {
  .discount-block{
    border: 1px solid $colorBorder;
    padding: .5rem;

    form{
      margin: 0;

      .form-group{
        display: inline-block;
        padding-right: 1rem;

        input{
          margin: 0;
          height: 30px;
        }
        .help-block{
          padding: 0;
        }
      }
      button{
        display: inline-block;
      }
    }
  }
  .total-amount-block {
    text-align: right;
    padding: 1rem 0;
  }
}