.basket-summary {
  @include flex-grid-row(collapse);
  width: 100%;

  .main-data, .additional-data {
    @include flex();
    @include flex-grid-column(6);

    @include breakpoint(medium down) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  .main-data {
    flex-wrap: wrap;
    align-content: flex-start;

    .title {
      @include title();
      width: 100%;
    }
    .content {
      width: 100%;
    }

    table#items {
      tbody {
        tr {
          td {
            &.quantity-column {
              .constant-quantity {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .additional-data {
    flex-wrap: wrap;

    #address-data, #payment-and-transport-data {
      @include flex-grid-column(12);
      padding: 0 !important;

      & > .title {
        @include title();
      }
      & > .content {
        & > span {
          display: block;
        }
      }
    }

    #address-data {
      margin-bottom: 1rem;
    }
  }

  .buttons-block {
    @include flex-grid-column(12);

  }
}