#main-footer {
  width: 100%;
  background: $footerBackground;

  a {
    color: #333;

    &:hover {
      color: $color2;
    }
  }

  .navigation-block {
    @include flex-grid-row();
    width: 100%;
    padding: 1rem 0;

    .logo-block {
      @include flex;
      @include flex-grid-column(2);
      @include flex-align(center, middle);

      a {
        font-size: 1.5rem;
        font-weight: 300;
        color: $color2;
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
    }

    .pages-list-block {
      @include flex-grid-column(8);
      @include flex-grid-row();
      justify-content: center;
      padding: .5rem 0;

      ul {
        @include flex-grid-column(4);

        li {
          display: block;
          text-align: center;

          &.title{
            color: $color2;
            border-bottom: 1px solid $color2;
          }
        }
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);

        ul {
          @include flex-grid-column(12);
          padding: 1rem 0;

          li {
            width: 100%;
          }
        }
      }
    }

    .user-block {
      @include flex;
      @include flex-grid-column(2);
      @include flex-align(center, middle);
      flex-wrap: wrap;

      a {
        width: 100%;
        display: block;
        text-align: center;
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
    }
  }

  .copyright-block {
    @include flex-grid-row(collapse, 100%);
    @include flex-align(spaced, middle);
    background: $copyrightBlockBackground;
    width: 100%;

    p {
      margin: 0;
      padding: .5rem 1rem;
      text-align: center;
    }
  }
}