#main-header {
  @include flex-grid-row(collapse, 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  #manage-bar {
    @include flex-grid-row(collapse, 100%);
    background: $manageBarBackground;
    border-bottom: 1px solid #eee;
    text-align: left;
    width: 100%;

    a {
      color: $manageBarPanelLinkColor;
      text-decoration: none;
      padding: .5rem 1rem;
      display: inline-block;
      transition: .3s ease;

      &:hover {
        background: $color1a;
        color: #fff;
      }

      &.panel-btn {
        &:before {
          @include fa-icon-standard("\f0e4");
          padding-right: .2rem;
        }
      }
    }
  }

  .header-block {
    @include flex-grid-row(collapse, 100%);
    width: 100%;
    background: $headerBackground;
    padding: .5rem 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.05);

    .logo {
      @include flex();
      @include flex-grid-column(3);
      @include flex-align(left, middle);

      a {
        color: #000;
        text-decoration: none;
        font-size: 1.8rem;
        display: inline-block;

        .text {
          @include show-for(large);
          padding-left: .5rem;
          font-weight: 300;
          vertical-align: middle;
        }

        .icon {
          color: $color1;
          vertical-align: top;
          border-radius: 50%;
          border: 1px solid $color1;
          width: 40px;
          height: 40px;
          position: relative;
          font-size: 1.3rem;
          transition: .3s ease-in-out;

          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &:hover {
          .icon {
            transform: rotate(360deg);
          }
        }
      }

      @include breakpoint(medium down) {
        display: none;
      }
    }

    .mobile-navigation-button-wrapper {
      @include flex-grid-column(3);
      @include flex-align(left, middle);
      display: none;

      .icon {
        font-size: 1.6rem;
        color: #666;
        vertical-align: middle;
      }

      @include breakpoint(medium down) {
        display: flex;
      }
    }

    #navigation-top-desktop {
      @include flex();
      @include flex-grid-column(6);
      @include flex-align(center, middle);

      ul {
        padding: 0;
        margin: 0;
        text-align: center;
        display: inline-block;

        li {
          list-style-type: none;
          display: inline-block;

          a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: .55rem 1rem;
            transition: .3s ease;

            &:hover {
              color: $color1b;
            }
          }

          &.active {
            a {
              color: $color1b;
            }
          }

          &.categories-btn {
            .text {
              &:before {
                @include fa-icon-standard("\f107");
                padding-right: .2rem;
                color: $color1b;
              }
            }
          }
        }
      }

      @include breakpoint(medium down) {
        display: none;
      }
    }

    .buttons-block {
      @include flex();
      @include flex-grid-column(3);
      @include flex-align(right, middle);
      padding-bottom: 0;

      & > a {
        &.search-btn {
          @include circle-btn-o(30px, #03A9F4);

          &:before {
            @include fa-icon-standard("\f002");
          }
        }
        &.user-menu-btn {
          @include circle-btn-o(30px, #673AB7);

          &:before {
            @include fa-icon-standard("\f2c0");
          }
        }
        &.favorites-btn {
          @include circle-btn-o(30px, #E91E63);

          &:before {
            @include fa-icon-standard("\f004");
            padding-top: .2rem;
          }
        }
      }

      & > .basket-block {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        border: 1px solid #4CAF50;
        border-radius: 30px 0 0 30px;
        margin: 0 .25rem;
        padding: 0 .25rem 0 0;
        background: #4CAF50;
        color: #fff;
        min-width: 80px;

        & > .basket-link-btn {
          @include circle-btn-o(30px, #4CAF50);
          border: none;
          margin: 0 .25rem 0 0;

          &:before {
            @include fa-icon-standard("\f291");
            color: #fff;
          }

          &:hover {
            background: #43A047;
            color: #fff;
          }
        }
        & > .total-cost {

        }
        & > .basket-btn {
          margin: 0 0 0 .5rem;
          background: #43A047;
          border-radius: 50%;
          height: 18px;
          width: 18px;
          line-height: 18px;
          padding: 0;
          text-align: center;

          &:before {
            @include fa-icon-standard("\f107");
            color: #fff;
          }
        }
      }

      @include breakpoint(medium down) {
        @include flex-grid-column(9);
      }
    }
  }

  #search-bar-dropdown {
    @include flex-grid-row(collapse, 100%);
    @include flex-align(center, middle);
    @include visibility-toggle();
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.10);
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    z-index: -1;
    transform: translateY(-2%);

    form {
      @include flex();
      @include flex-grid-column(6);
      @include flex-align(center, middle);
      margin: 0;

      .search-input {
        display: block;
        margin: 0;
        height: 2.4375rem;
        box-shadow: none;
        outline: none;
        padding: 0 1rem;
        border-right: none;

        & + .submit-btn {
          height: 2.4375rem;
          width: 2.4375rem;
          border: 1px solid #03A9F4;
          color: #03A9F4;
          cursor: pointer;

          &:before {
            @include fa-icon-standard("\f002");
          }
        }
      }

      @include breakpoint(small only) {
        @include flex-grid-column(12);
      }
      @include breakpoint(medium only) {
        @include flex-grid-column(9);
      }
    }
  }
  #favorites-list-dropdown {
    @include box-dropdown();

    ul {
      width: 100%;

      li {
        @include flex-grid-row(collapse);
        width: 100%;
        height: 80px;
        padding: .5rem 0;
        border-bottom: 1px solid #eee;

        a {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
        }

        .image {
          @include flex-grid-column(3);
        }
        .name {
          @include flex-grid-column(9);
          @include flex-align-self(middle);
        }

        &:hover {
          background-color: rgba(238, 238, 238, 0.75);
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }
  #user-menu-dropdown {
    @include box-dropdown(100px, 150px);

    ul {
      width: 100%;

      li {
        a {
          display: block;
          text-align: center;
          padding: .2rem 1rem;

          &:hover {
            color: $color2;
          }
        }
      }
    }
  }
  #basket-list-dropdown {
    @include box-dropdown();

    ul {
      width: 100%;

      li {
        @include flex-grid-row(collapse);
        width: 100%;
        height: 80px;
        padding: .5rem 0;
        border-bottom: 1px solid #eee;

        .image {
          @include flex-grid-column(3);
        }
        .name {
          @include flex-grid-column(7);
          @include flex-align-self(middle);
        }

        .delete-btn {
          @include flex-grid-column(2);
          @include flex-align-self(middle);

          a {
            @include circle-btn-o(22px, $color2, 0.7rem);

            &:before {
              @include fa-icon-standard("\f00d")
            }
          }
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }
  #category-list-dropdown {
    @include flex-grid-row(collapse, 100%);
    @include flex-align(center, middle);
    @include visibility-toggle();
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.10);
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    z-index: -1;

    ul {
      @include flex();
      @include flex-grid-column(6);
      @include flex-align(center, middle);

      li {
        @include flex();
        @include flex-grid-column(3);
        @include flex-align(center, middle);

        &.active {
          a {
            color: $color1b;
          }
        }

        @include breakpoint(small only) {
          @include flex-grid-column(12);
        }
      }
    }
  }
  #navigation-mobile-dropdown {
    @include flex-grid-row(collapse, 100%);
    @include flex-align(center, middle);
    @include visibility-toggle();
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.1rem 0.1rem rgba(100, 100, 100, 0.10);
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: -1;

    ul {
      display: block;
      width: 100%;

      li {
        display: block;
        width: 100%;
        text-align: center;

        a{
          display: block;
          width: 100%;
          padding: .5rem;
        }

        &.active {
          a {
            color: $color1b;
          }
        }
      }
    }
  }
}