#main-sidebar {
  .navigation {
    background: #fff;
    border: 1px solid $colorBorder;
    border-bottom: 0;
    margin-bottom: 1rem;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: #333;
          display: block;
          border-bottom: 1px solid $colorBorder;
          font-size: 15px;

          &:hover {
            color: $color2;
          }
        }

        &.active {
          & > a {
            color: $color2;
          }
        }
      }
    }

    & > ul {
      li {
        display: none;
      }
      li.active {
        display: block;

        & > ul {
          & > li {
            display: block;
          }
        }
      }
    }

    & > ul {
      & > li {
        display: block;
      }
    }

    &.navigation-mobile {
      display: none;
    }

    @for $i from 1 through 5 {
      $selector: if($i == 1, "> ul > li ", selector-nest($selector, "> ul > li")) !global;

      #{$selector} {
        & > a {
          padding: 12px 12px 12px 12px + 15px * $i;
        }
      }
    }

    @include breakpoint(medium down) {
      &.swiper-container {
        border-bottom: 1px solid $colorBorder;
        display: none;

        ul {
          li {
            a {
              padding: 5px;
              text-align: center;
              border: none;
            }
          }
        }
      }
      &.navigation-mobile {
        display: block;
      }
      &.hide-for-mobile {
        display: none !important;
      }
    }
  }
  .filter-sidebar {
    display: block;
    width: 100%;

    .filter {
      display: block;
      width: 100%;
      padding-top: 15px;

      .header {
        padding-bottom: .8rem;

        .name {
          display: block;
          padding: 0 0 .3rem 0;
          border-bottom: 1px solid $colorBorder;

        }
      }
      .options {
        padding: 0;
        margin: 0;

        li {
          list-style: none;

          .checkbox-wrap {
            .checkbox-label {
              vertical-align: text-top;
              paddin-right: 1px;
            }
          }
        }
      }
    }
    .price-range {
      overflow: auto;

      div.min, div.max {
        width: 50%;
        display: block;
        float: left;

        .text, .input {
          display: block;
          float: left;
        }
        .input {
          width: 80px;
          margin-left: 10px;
          outline: none;
          box-shadow: none;
          border: 1px solid #eee;
          text-align: center;
        }
      }
    }

    @include breakpoint(medium down) {
      display: none;
    }
  }
}