#main-content {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 248px);

  & > #breadcrumbs {
    @include flex-grid-row();
    width: 100%;
    padding: 0 1rem;

    ul {
      @include font(300, 20px);
      width: 100%;
      padding: 0 0 .3rem 0;
      margin: 0 0 0.9rem 0;
      border-bottom: 1px solid $colorBorder;

      li {
        display: inline-block;
        padding: 0 0 0 1.5rem;
        vertical-align: middle;
        position: relative;

        &.home {
          a {
            @include circle-btn-o(24px, #555, 1rem);
            display: block;
            margin: 0;

            &:before {
              @include fa-icon-standard('\f015');
            }
          }
        }

        &:after {
          @include fa-icon-standard('\f105');
          font-size: 1rem;
          color: #555;
          position: absolute;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);
        }

        &:first-of-type {
          padding-left: .5rem;
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &.has-manage-bar {
    margin-top: 97px;
    min-height: calc(100vh - 97px - 248px);
  }
  &.add-container {
    @include flex-grid-row(collapse);
    align-content: flex-start;
    padding-top: 1rem;

    #inner-content {
      @include flex-grid-column(12);
    }
  }
  &.has-sidebar {
    #main-sidebar {
      @include flex-grid-column(3);
    }
    #inner-content {
      @include flex-grid-column(9);
    }

    @include breakpoint(medium down) {
      #main-sidebar, #inner-content {
        flex: 1 0 100%;
        max-width: 100%;
      }
    }
  }
}